/*彩虹文字*/
rainbow-text, rainbow-text * {
	padding-top: 3px;
	background-image: linear-gradient( to left, orangered, orange, gold, lightgreen, cyan, dodgerblue, mediumpurple, hotpink, orangered);
	background-size: 110vw;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-animation: rainbowan 60s linear infinite;
	animation: rainbowan 60s linear infinite;
}

@-webkit-keyframes rainbowan {
	to {
		background-position: -2000vw;
	}
}

@keyframes rainbowan {
	to {
		background-position: -2000vw;
	}
}

/*文字抖动*/
.Pshake{
    display: inline-block;
    will-change: transform; /*可以删除*/
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
    -webkit-animation: Pshake_Crazy 1s ease-in-out infinite;
            animation: Pshake_Crazy 1s ease-in-out infinite;
}

