.jun-meter {
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/ring.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-top: 7%;
}

.jun-time-rect {
    position: absolute;
    width: 26px;
    height: 65px;
    left: 119px;
    top: 70px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/rect.svg");
    background-size: 30px 34px;
}

.jun-time-h-h {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 56px;
    top: 78px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-h-l {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 87px;
    top: 78px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-m-h {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 131px;
    top: 78px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-m-l {
    position: absolute;
    width: 50;
    height: 50;
    left: 161px;
    top: 78;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-s-h {
    position: absolute;
    width: 30;
    height: 30;
    left: 196px;
    top: 98px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-s-l {
    position: absolute;
    width: 30;
    height: 30px;
    left: 214px;
    top: 98px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-calendar-date {
    position: absolute;
    width: 120;
    height: 30;
    left: 171px;
    top: 136px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

.jun-date {
    position: absolute;
    width: 120px;
    height: 30px;
    left: 171px;
    top: 159px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

.jun-human{
    position: absolute;
    width: 65;
    height: 65;
    left: 122px;
    top: 133px;
    background-image: url("https://cdn.jsdelivr.net/gh/flipped-1121/CDN@master/clock/img/human.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}
